* {
    font-family: Arial;
}

body {
    text-align: center;
    margin: auto;
}

menu {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    color: #4682B4;
}

menu li {
    display: inline;
    margin: 0;
    padding: 0 40px;
    text-align: center;
}

menu a {
    text-decoration: none;
    color: #4682B4;
}

.horisontal {
    display: inline;
    margin: 1vw;
}

#index_menu {
    position: relative;
    top: 0;
}

#index_menu li {
    margin: 15vh auto;
    text-align: center;
}

#index_menu a {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 40px;
    border: 2px solid #4682B4;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 1;
}

#index_menu a:after {
    content: "";
    display: block;
    border: 2px solid #4682B4;
    position: absolute;
    top: -7px;
    right: 5px;
    bottom: -7px;
    left: 5px;
}

li {
    text-align: left;
}

label {
    color: #4682B4;
}

.content {
    left: 25%;
    width: 50%;
}

.hidden {
    display: none;
}

.hidden+label~div {
    display: none;
}

.hidden:checked+label+div {
    display: block;
}

table {
    height: 60%;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media(max-width: 500px), (max-height: 500px) {
    footer {
        position: inherit;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

@media(max-width: 1000px) {
    menu {}
    menu li {
        display: block;
    }
}